<form #userForm="ngForm" (ngSubmit)="userFormSubmit(userForm)">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <div class="form-group col-lg-4" #name>
        <label for="name">Please enter name:</label>
        <input type="text"
               class="form-control"
               id="name"
               name="name"
               pattern="[a-zA-Z]*"
               required
               ngModel>
      </div>


      <div class="form-group col-lg-4" #login>
        <label for="login">Please enter login:</label>
        <input type="text"
               class="form-control"
               id="login"
               name="login"
               required
               ngModel>
      </div>

      <div class="form-group col-lg-4" #password>
        <label for="password">Please enter password:</label>
        <input type="password"
               class="form-control"
               id="password"
               name="password"
               required
               ngModel>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    </div>

  </div>

  <div *ngIf="isFormSaved">
    <p>
      Hello Mr {{savedUser.name}}  !!!
    </p>
  </div>

</form>
