<nav class="navbar bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="./create">Create User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Show User</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
