<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="formPost(postForm.value)" >
        <div class="form-group">
          <label for="login">Login</label>
          <input
            type="text"
            class="form-control"
            id="login"
            required
            ngModel
            name="login"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            class="form-control"
            id="password"
            required
            ngModel
            name="password"
          >
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          Send Post
        </button>
      </form>
    </div>
  </div>
  <hr />
  <form #searchForm="ngForm" *ngIf="searchUser == null">
    <div class="form-group">
      <label for="search_login">Enter Login To Search in DB</label>
      <input
        type="text"
        class="form-control"
        id="search_login"
        required
        ngModel
        name="search_login"
      />
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!searchForm.valid"
      (click)="getUserByLogin(searchForm.value)"
    >
      Search
    </button>
  </form>
  <form>
    <div *ngIf="searchUser != null">
      <label for="change_login" >Please eneter new Login </label>
      <input type="text" id="change_login" [value]="searchUser.login" >
      <label for="search_login">Enter Login To Search in DB</label>
      <input type="text" [value]="searchUser.password" >
    </div>
  </form>



  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">

    </div>
  </div>
</div>
