<nav class="navbar navbar-expand-sm bg-light justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/user">User From</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/employee">Employee Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
</nav>
<br>
<router-outlet></router-outlet>
